<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
</head>
<body>
<h1>Let's Chat!</h1>
<textarea id="message">
</textarea>
<br>
<input id="room_name" type="text" value="{{ room_name }}">
<div style="padding:10px 0">
    <form>
        <input type="text" id="to_room_name" name="message"/>
    </form>

</div>
<button onclick="myfunction()">Send</button>
<div id="messages">

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
        function myfunction(){
            message = document.getElementById("message").value
            to_room_name = document.getElementById("to_room_name").value
            $.ajax({
               url: 'http://127.0.0.1:8005/send-message',
               type: 'post',
               data: {message:message,room_name:to_room_name,csrfmiddlewaretoken: '{{ csrf_token }}'},
               success: function(response){

               }
            });
        }

        room_name = document.getElementById("room_name").value

        let url = `ws://${window.location.host}/ws/socket-server/`+room_name+`/`
        const chatSocket = new WebSocket(url)
        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if(data.type === 'chat'){
                let messages = document.getElementById('messages')
                 messages.insertAdjacentHTML('beforeend', `<div>
                                                      <p>${data.message}</p>
                                                </div>`)
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=>{
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message':message
            }))
            form.reset()
        })



</script>
</body>
</html>